In [1]:
import pandas as pd
import numpy as np
from CLHLS.get_3year_data import get_period_data
from CLHLS.process_data import process_wave_data
from CLHLS.get_descptive_info import *
from CLHLS.get_original_total_df import get_total_df

In [2]:
first_wave_new,second_wave_new,third_wave_new,fourth_wave_new = get_period_data()

Reading data ...
Getting 3 year periods data ...
Number of investgated elders situations :
               start year observations  survivor  death  missing
2002 to 2005                    16064      8175   5874     2015
2005 to 2008                    15638      7472   5228     2938
2008 to 2011                    16954      8418   5635     2894
2011 to 2014                     9765      6066   2878      820
Selecting needed variables ...

/Users/wangweiren/Tencent medical/CLHLS_CI_master/CLHLS/get_3year_data.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wave_data[column] = pd.to_numeric(wave_data[column],errors = 'coerce')
/Users/wangweiren/Tencent medical/CLHLS_CI_master/CLHLS/get_3year_data.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wave_data[column] = pd.to_numeric(wave_data[column],errors = 'coerce')
/Users/wangweiren/Tencent medical/CLHLS_CI_master/CLHLS/get_3year_data.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wave_data[column] = pd.to_numeric(wave_data[column],errors = 'coerce')
/Users/wangweiren/Tencent medical/CLHLS_CI_master/CLHLS/get_3year_data.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wave_data[column] = pd.to_numeric(wave_data[column],errors = 'coerce')

Filling missing values ...
Missing values situation
f34         0.29%
a43         0.24%
d71         0.10%
d72         0.13%
d81         0.12%
d82         0.20%
d91         0.15%
d92         0.21%
d31         0.02%
d32         0.07%
d11f        0.02%
e1          0.20%
e5          0.04%
e6          0.01%
g15a1       0.01%
g15b1       0.01%
g15c1       0.01%
g15d1       0.01%
g15e1       0.01%
g15f1       0.01%
g15g1       0.01%
g15h1       0.01%
g15i1       0.01%
g15j1       0.01%
g15k1       0.01%
g15l1       0.01%
g15m1       0.01%
g15n1       0.01%
g15o1       0.01%
f34_5       0.72%
a51_5       0.04%
d71_5       0.04%
d72_5       0.13%
d81_5       0.05%
d82_5       0.20%
d92_5       0.21%
d11b_5      0.01%
d11g_5      0.01%
d11h_5      0.01%
e1_5        0.01%
e2_5        0.02%
e3_5        0.01%
e4_5        0.01%
e5_5        0.04%
e6_5        0.02%
g15a1_5     0.01%
g15d1_5     0.01%
g15g1_5     0.01%
g15h1_5     0.05%
g15i1_5     0.09%
g15j1_5    54.23%
g15k1_5     0.11%
g15l1_5     0.04%
g15m1_5     0.01%
g15n1_5     0.01%
dtype: object
Samples before drop current MMSE missing :  8175
Samples before drop current MMSE missing :  7927
Samples before drop later MMSE missing :  7927
Samples before drop later MMSE missing :  7271
Missing values situation
f34         0.36%
a43         0.12%
a51         0.05%
d71         0.01%
d72         0.07%
d81         0.01%
d82         0.11%
d92         0.12%
d11b        0.01%
d11g        0.01%
d11h        0.01%
e2          0.01%
e6          0.01%
g15g1       0.01%
g15h1       0.03%
g15i1       0.12%
g15j1      54.52%
g15k1       0.12%
g15l1       0.01%
g15m1       0.01%
g15n1       0.01%
f34_8       0.32%
d72_8       0.07%
d75_8      82.49%
d82_8       0.11%
d86_8      83.54%
d91_8       0.01%
d92_8       0.12%
d31_8       0.01%
d32_8       0.01%
e1_8        0.01%
g15a1_8     0.04%
g15b1_8     0.04%
g15c1_8     0.01%
g15d1_8     0.03%
g15e1_8     0.04%
g15f1_8     0.03%
g15g1_8     0.01%
g15h1_8     0.04%
g15i1_8     0.15%
g15j1_8    54.67%
g15k1_8     0.03%
g15l1_8     0.03%
g15m1_8     0.03%
g15n1_8     0.03%
g15o1_8     0.01%
dtype: object
Samples before drop current MMSE missing :  7472
Samples before drop current MMSE missing :  7217
Samples before drop later MMSE missing :  7217
Samples before drop later MMSE missing :  6592
Missing values situation
f1         0.05%
f34        0.21%
a41        0.05%
a43        0.13%
d72        0.08%
           ...
c51b_11    0.99%
c52_11     0.99%
c53a_11    0.91%
c53b_11    0.93%
c53c_11    0.93%
Length: 99, dtype: object
Samples before drop current MMSE missing :  8418
Samples before drop current MMSE missing :  7951
Samples before drop later MMSE missing :  7951
Samples before drop later MMSE missing :  7337
Missing values situation
a2         9.15%
f1         0.18%
f41        0.74%
f34        1.09%
a41        9.40%
           ...
c51b_14    2.56%
c52_14     2.75%
c53a_14    2.47%
c53b_14    2.51%
c53c_14    2.51%
Length: 150, dtype: object
Samples before drop current MMSE missing :  6066
Samples before drop current MMSE missing :  5891
Samples before drop later MMSE missing :  5891
Samples before drop later MMSE missing :  5417
Before drop age<60 :
Wave 1:  7271
Wave 2:  6592
Wave 3:  7337
Wave 4:  5417
After drop age<60 :
Wave 1:  7271
Wave 2:  6592
Wave 3:  7337
Wave 4:  5408

In [3]:
wave1,wave2,wave3,wave4 = process_wave_data(first_wave_new,second_wave_new,third_wave_new,fourth_wave_new)

Before drop Depression missing :  7271
After drop Depression missing :  6368
Before drop Depression missing :  6592
After drop Depression missing :  5898
Before drop Depression missing :  7337
After drop Depression missing :  6354
Before drop Depression missing :  5408
After drop Depression missing :  4639
Processing invariant variables ...
Done!
Processing invariant variables ...
Done!
Processing invariant variables ...
Done!
Processing invariant variables ...
Done!
Processing variant variables ...
Before drop Dementia :  6368
After drop Dementia :  6278
Done!
Processing variant variables ...
Before drop Dementia :  5898
After drop Dementia :  5830
Done!
Processing variant variables ...
Before drop Dementia :  6354
After drop Dementia :  6248
Done!
Processing variant variables ...
Before drop Dementia :  4639
After drop Dementia :  4564
Done!

In [4]:
total_df = get_total_df(wave1,wave2,wave3,wave4)

## Describe single variable

In [5]:
get_categorical_describe(total_df,'gender')

         not_CI           CI
0  10343(88.03)  1406(11.97)
1  10594(94.83)    577(5.17)

In [6]:
get_numerical_describe(total_df,'tour_times')

                  not_CI               CI
Mean(SD)  0.0092(1.0409)  -0.0973(0.3314)

## Describe whole dataframe

In [7]:
pd.set_option('display.max_row',100)

In [8]:
des_df = get_total_df_description(total_df)

In [9]:
des_df[['variable','value','population','CI 3 years later']]

                 variable value     population CI 3 years later
0               Parkinson     0  22835(99.63%)      1969(8.62%)
1               Parkinson     1      85(0.37%)       14(16.47%)
0        outdoor_activity   0.0   5405(23.58%)      689(12.75%)
1        outdoor_activity   1.0    1233(5.38%)      135(10.95%)
2        outdoor_activity   2.0     861(3.76%)       87(10.10%)
3        outdoor_activity   3.0   2693(11.75%)       262(9.73%)
4        outdoor_activity   4.0  12728(55.53%)       810(6.36%)
0            nation_group     0  21516(93.87%)      1861(8.65%)
1            nation_group     1    1404(6.13%)       122(8.69%)
0           heart_disease     0  20565(89.73%)      1839(8.94%)
1           heart_disease     1   2355(10.27%)       144(6.11%)
0               education     0  11867(51.78%)     1542(12.99%)
1               education     1   7938(34.63%)       352(4.43%)
2               education     2   3115(13.59%)        89(2.86%)
0                     ADL     0  20910(91.23%)      1553(7.43%)
1                     ADL     1    2010(8.77%)      430(21.39%)
0                   smoke     0  17723(77.33%)      1700(9.59%)
1                   smoke     1   5197(22.67%)       283(5.45%)
0               arthritis     0  18524(80.82%)      1631(8.80%)
1               arthritis     1   4396(19.18%)       352(8.01%)
0          economy_status     0  15671(68.37%)      1290(8.23%)
1          economy_status     1   3895(16.99%)       307(7.88%)
2          economy_status     2   3354(14.63%)      386(11.51%)
0            tuberculosis     0  22750(99.26%)      1971(8.66%)
1            tuberculosis     1     170(0.74%)        12(7.06%)
0                eat_vegs   0.0     444(1.94%)       63(14.19%)
1                eat_vegs   1.0    1785(7.79%)      220(12.32%)
2                eat_vegs   2.0   6852(29.90%)       647(9.44%)
3                eat_vegs   3.0  13839(60.38%)      1053(7.61%)
0               stoke_CVD     0  21708(94.71%)      1879(8.66%)
1               stoke_CVD     1    1212(5.29%)       104(8.58%)
0           stomach_ulcer     0  21669(94.54%)      1892(8.73%)
1           stomach_ulcer     1    1251(5.46%)        91(7.27%)
0          martial_status     0  11703(51.06%)     1564(13.36%)
1          martial_status     1  11217(48.94%)       419(3.74%)
0                glaucoma     0  22480(98.08%)      1930(8.59%)
1                glaucoma     1     440(1.92%)       53(12.05%)
0                  gender     0  11749(51.26%)     1406(11.97%)
1                  gender     1  11171(48.74%)       577(5.17%)
0            hypertension     0  17871(77.97%)      1619(9.06%)
1            hypertension     1   5049(22.03%)       364(7.21%)
0                  cancer     0  22836(99.63%)      1976(8.65%)
1                  cancer     1      84(0.37%)         7(8.33%)
0                diabetes     0  22218(96.94%)      1951(8.78%)
1                diabetes     1     702(3.06%)        32(4.56%)
0           co-habitation     0   3587(15.65%)       324(9.03%)
1           co-habitation     1  18906(82.49%)      1594(8.43%)
2           co-habitation     2     427(1.86%)       65(15.22%)
0                exercise     0  14014(61.14%)     1455(10.38%)
1                exercise     1   8906(38.86%)       528(5.93%)
0  raise_domestic_animals   0.0  14901(65.01%)      1482(9.95%)
1  raise_domestic_animals   1.0     646(2.82%)        62(9.60%)
2  raise_domestic_animals   2.0     428(1.87%)        40(9.35%)
3  raise_domestic_animals   3.0     942(4.11%)       96(10.19%)
4  raise_domestic_animals   4.0   6003(26.19%)       303(5.05%)
0                 bedsore     0  22800(99.48%)      1972(8.65%)
1                 bedsore     1     120(0.52%)        11(9.17%)
0               residence     0   3081(13.44%)       188(6.10%)
1               residence     1  19839(86.56%)      1795(9.05%)
0              eat_fruits   0.0   5421(23.65%)      614(11.33%)
1              eat_fruits   1.0   8747(38.16%)       784(8.96%)
2              eat_fruits   2.0   5909(25.78%)       404(6.84%)
3              eat_fruits   3.0   2843(12.40%)       181(6.37%)
0         social_activity   0.0  18659(81.41%)      1777(9.52%)
1         social_activity   1.0    1895(8.27%)        89(4.70%)
2         social_activity   2.0     844(3.68%)        45(5.33%)
3         social_activity   3.0     693(3.02%)        39(5.63%)
4         social_activity   4.0     829(3.62%)        33(3.98%)
0         majong_or_cards   0.0  17684(77.16%)      1746(9.87%)
1         majong_or_cards   1.0    1038(4.53%)        56(5.39%)
2         majong_or_cards   2.0     732(3.19%)        47(6.42%)
3         majong_or_cards   3.0    1593(6.95%)        69(4.33%)
4         majong_or_cards   4.0    1873(8.17%)        65(3.47%)
0             tv_or_radio   0.0   4341(18.94%)      770(17.74%)
1             tv_or_radio   1.0    1126(4.91%)      118(10.48%)
2             tv_or_radio   2.0     979(4.27%)      110(11.24%)
3             tv_or_radio   3.0   2695(11.76%)       227(8.42%)
4             tv_or_radio   4.0  13779(60.12%)       758(5.50%)
0         trachea_or_lung     0  20379(88.91%)      1784(8.75%)
1         trachea_or_lung     1   2541(11.09%)       199(7.83%)
0               cataracts     0  20714(90.38%)      1749(8.44%)
1               cataracts     1    2206(9.62%)      234(10.61%)
0                prostate     0  22183(96.78%)      1946(8.77%)
1                prostate     1     737(3.22%)        37(5.02%)
0         read_news_books   0.0  16826(73.41%)     1802(10.71%)
1         read_news_books   1.0     918(4.01%)        41(4.47%)
2         read_news_books   2.0     595(2.60%)        26(4.37%)
3         read_news_books   3.0    1240(5.41%)        43(3.47%)
4         read_news_books   4.0   3341(14.58%)        71(2.13%)
0       plant_flower_bird   0.0  17962(78.37%)      1774(9.88%)
1       plant_flower_bird   1.0     632(2.76%)        43(6.80%)
2       plant_flower_bird   2.0     409(1.78%)        25(6.11%)
3       plant_flower_bird   3.0     764(3.33%)        34(4.45%)
4       plant_flower_bird   4.0   3153(13.76%)       107(3.39%)
0                 alcohol     0  17771(77.53%)      1644(9.25%)
1                 alcohol     1   5149(22.47%)       339(6.58%)
0                agegroup     0   9109(39.74%)       158(1.73%)
1                agegroup     1   7105(31.00%)       473(6.66%)
2                agegroup     2   5019(21.90%)      827(16.48%)
3                agegroup     3    1687(7.36%)      525(31.12%)

## Hypothesis testing

In [10]:
get_pvalues(total_df)

                  Variable       p-values
0                 agegroup   0.000000e+00
1             nation_group   9.977898e-01
2                education  9.818526e-130
3           martial_status  7.202644e-148
4           economy_status   1.215847e-09
5                      ADL  4.860616e-100
6                   gender   1.083546e-74
7                residence   7.572381e-08
8            co-habitation   3.459945e-06
9                    smoke   1.138835e-20
10                 alcohol   2.423576e-09
11                exercise   1.882380e-31
12              eat_fruits   3.789822e-20
13                eat_vegs   1.469308e-15
14        outdoor_activity   4.689533e-45
15       plant_flower_bird   3.562098e-35
16         read_news_books   9.756612e-74
17  raise_domestic_animals   5.288407e-28
18         majong_or_cards   4.247043e-32
19             tv_or_radio  3.895111e-137
20         social_activity   2.461248e-20
21            hypertension   4.120230e-05
22                diabetes   1.180210e-04
23           heart_disease   4.540476e-06
24               stoke_CVD   9.698329e-01
25         trachea_or_lung   1.279114e-01
26            tuberculosis   5.454062e-01
27               cataracts   6.813654e-04
28                glaucoma   1.346700e-02
29                  cancer   9.279801e-01
30                prostate   4.687526e-04
31           stomach_ulcer   8.347384e-02
32               Parkinson   1.751823e-02
33                 bedsore   9.694066e-01
34               arthritis   9.669673e-02
35        depression_score   4.196208e-01
36              tour_times   5.735634e-06